<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Visioner Art</title>
    <meta name="description" content="Betiso - One Page Personal Themplate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue library -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue-awesome-swiper -->
    <!-- Loading Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://assets.squarespace.com/universal/default-favicon.ico">

    <!-- Loading Font Icons -->
    <link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css">

    <!-- Include all css plugins (below), or include individual files as needed -->

    <!-- Main CSS -->
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
    <script src="assets/plugins/modernizr/modernizr.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="vueapp">
        <!-- BACKGROUND GRID START -->
        <div class="background-grid height-100 position-fixed pointer-none">
            <span class="column height-100"></span>
            <span class="column height-100"></span>
            <span class="column height-100"></span>
            <span class="column height-100 hidden-xs"></span>
            <span class="column height-100 hidden-xs hidden-sm"></span>
            <span class="column height-100 hidden-xs hidden-sm"></span>
        </div>
        <!-- //BACKGROUND GRID END -->
        <!-- MAIN MENU -->
        <header class="hrz-header">
            <div class="logo"> <a href="index.html" class="pointer-all">
                    <img src="./assets/images/VisionerLogoV2.png" alt="">
                </a>
            </div>
            <ul class="nav text-uppercase d-flex flex-row align-items-center justify-content-end pr-20">
                <li class=" pointer-all  d-inline-flex align-items-center">
                    <a class="position-relative" href="index.html">HOME</a></li>
                <li class="pointer-all active  d-inline-flex align-items-center">
                    <a class="position-relative" href="artists.html">Artists</a></li>
                <li class="pointer-all  d-inline-flex align-items-center">
                    <a class="position-relative" href="contact-us.html">CONTACT US</a></li>
                <li class="pointer-all  d-inline-flex align-items-center">
                    <a class="position-relative" href="selected-publications.html">selected press</a></li>
                <li class="pointer-all  d-inline-flex align-items-center">
                    <a class="position-relative" href="works-for-sale.html">works for sale</a></li>

            </ul>
        </header>
        <!-- MAIN MENU END -->
        <!-- HEADER START -->
        <div class="mobile-menu">
            <header class="header">
                <div class="logo text-center">
                    <div class="d-flex align-items-center  height-100 width-100">
                        <a href="index.html" class="pointer-all">
                            <img src="./assets/images/VisionerLogoV2.png" alt="">
                        </a>
                        <!-- //.display-table-cell -->
                    </div>
                    <!-- //.display-table -->
                </div>
                <!-- //.logo -->

                <div class="nav-trigger nav-trigger-open" v-on:click="isActive = !isActive">
                    <div class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- //.nav-toggle -->
                </div>
                <!-- //.nav-trigger -->
            </header>
            <!-- //HEADER END -->



            <!-- NAVIGATION START -->

            <div id="navigation" v-bind:class="{'navbar': true, 'pointer-none' : !isActive, 'd-block': isActive}">
                <div class="container-fluid height-100 width-100">
                    <div class="nav-wraper d-flex  align-self-lg-end align-self-center flex-column width-100">
                        <div class="nav-trigger nav-trigger-close" v-on:click="isActive = !isActive">
                            <span></span>
                            <span></span>
                        </div>
                        <!-- //.nav-trigger -->
                        <ul class="nav navbar-nav text-center text-uppercase d-flex align-items-center ">
                            <li class=" pointer-all  d-inline-flex align-items-center"><a class="position-relative"
                                    href="index.html">HOME</a></li>
                            <li class="pointer-all active  d-inline-flex align-items-center"><a
                                    class="position-relative" href="artists.html">Artists</a></li>
                            <li class="pointer-all  d-inline-flex align-items-center"><a class="position-relative"
                                    href="contact-us.html">CONTACT US</a></li>
                            <li class="pointer-all"><a href="selected-publications.html">selected press</a></li>
                            <li class="pointer-all"><a href="works-for-sale.html">selected press</a></li>
                        </ul>

                    </div>
                    <!-- //.display-table-cell -->
                </div>
                <!-- //.container-fluid -->
            </div>
        </div>


        <section class="pt-6-5 dt-module">
            <div class="container-fluid  width-100">
                <div class="row flex-row-reverse">
                    <transition name="slide-fade">
                        <div class="col-md-6 d-flex align-items-center work-img-container height-100-vh-menu">
                            <img v-bind:class="{'work-img-active': isFade, 'work-img': true}" :src="currentWork" alt="">
                        </div>
                    </transition>
                    <div class="col-md-6">
                        <section class="section-static-title p0 mt-5 mb-5">
                            <div class="container-fluid section-static-title">
                                <div class="row custom-row">
                                    <div class="col-6 section-press-img ">
                                        <img src="https://images.squarespace-cdn.com/content/v1/5c70678577b903aa58ef8754/1592429294593-SAE3SKPL6OBOKAH5TURK/ke17ZwdGBToddI8pDm48kKR3o0ZQl9Wi-qrr1zoKio17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UffTifcrMApUA0DUPK9-SdRHTKX59FPT-MLq0y_8I1Su4YiLRmUQnYOnT8aFnZ-MYA/Secundino+HernandezHR2.jpg?format=500w"
                                            alt="">
                                        <h1>Our Artists</h1>
                                    </div>
                                    <div class="col-6 section-press-text">
                                        <p>Unique collection of blue-chip masters and emerging talent</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row">
                            <div class="col">
                                <div class="" v-for="(item, index) in firstHalf" :key="item.name">
                                    <a v-on:mouseenter="changeWork(item.id)"
                                        class=" artist-link mb-0 mt-2">{{item.name}}</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="" v-for="(item, index) in secondHalf" :key="item.name">
                                    <a v-on:mouseover="changeWork(item.id)"
                                        class=" artist-link mb-0 mt-2">{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //.col-md-6 -->

                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <section class="mobile-module pt-6-5 d-block d-lg-none blog-v1">
            <section class="section-static-title mb-5">
                <div class="container-fluid ">
                    <div class="row custom-row">
                        <div class="col-6 section-press-img ">
                            <img src="https://images.squarespace-cdn.com/content/v1/5c70678577b903aa58ef8754/1592429294593-SAE3SKPL6OBOKAH5TURK/ke17ZwdGBToddI8pDm48kKR3o0ZQl9Wi-qrr1zoKio17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UffTifcrMApUA0DUPK9-SdRHTKX59FPT-MLq0y_8I1Su4YiLRmUQnYOnT8aFnZ-MYA/Secundino+HernandezHR2.jpg?format=500w"
                                alt="">
                            <h1>Our Artists</h1>
                        </div>
                        <div class="col-6 section-press-text">
                            <p>Unique collection of blue-chip masters and emerging talent</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-fluid section-static-title">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center mb-5" v-for="(item) in works" :key="item.id">
                        <div class="service-item d-inline-block position-relative color-black-i width-100 ml-0 mr-0">
                       
                        <div class="artist-img-wrapper">
                            <img :src="item.src" alt="#">
                        </div>
                         <div class="service-v2-info">
                                <a href="#">
                                    <h4 class="service-v2-heading color-black">
                                        {{item.id}}
                                    </h4>
                                </a>
                                <a href="#" class="link-v2">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER START -->
        <footer class="footer position-relative dark">
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h6 class="footer-v2-heading">About Me</h6>
                            <p class="white paragraph-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Cum, impedit laudantium. Facere voluptatem dicta ratione delectus, architecto nesciunt
                                quas libero suscipit. Sapiente cumque, voluptates doloremque, quos numquam perferendis
                                officia saepe!</p>
                            <img src="assets/images/signature-w.png" alt="" class="footer-signature">
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h6 class="footer-v2-heading mt-sm-30">navigation</h6>
                            <ul class="footer-link list-unstyled">
                                <li><a href="#" class="white">Intro</a></li>
                                <li><a href="#" class="white">Portfolio</a></li>
                                <li><a href="#" class="white">Career</a></li>
                                <li><a href="#" class="white">Resume</a></li>
                                <li><a href="#" class="white">Profile</a></li>
                                <li><a href="#" class="white">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6 class="footer-v2-heading mt-md-30">contact me</h6>
                            <div class="list-wrap">
                                <div class="side-feature-list-item">
                                    <img src="assets/images/icons/footer-contact-icon-1.svg" width="20"
                                        class="check-mark-icon" alt="">
                                    <div class="foot-c-info">I’m based in London</div>
                                </div>
                                <div class="side-feature-list-item">
                                    <img src="assets/images/icons/footer-contact-icon-2.svg" width="20"
                                        class="check-mark-icon" alt="">
                                    <div class="foot-c-info">support@domain.com</div>
                                </div>
                                <div class="side-feature-list-item">
                                    <img src="assets/images/icons/footer-contact-icon-3.svg" width="20"
                                        class="check-mark-icon" alt="">
                                    <div class="foot-c-info">(875) 63487 7438</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6 class="footer-v2-heading mt-md-30">follow us</h6>
                            <p class="white paragraph-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                In dolorem maiores unde aut, nulla accusantium minus! Natus molestias.</p>
                            <div class="social-icons home-v2-icons">
                                <a href="#" target="_blank" class="social-link dark-bg w-inline-block">
                                    <i class="fa fa-facebook hero-social-icon"></i>
                                    <div class="color-hover down"></div>
                                </a>
                                <a href="#" target="_blank" class="social-link dark-bg w-inline-block">
                                    <i class="fa fa-behance hero-social-icon"></i>
                                    <div class="color-hover down"></div>
                                </a>
                                <a href="#" target="_blank" class="social-link dark-bg w-inline-block">
                                    <i class="fa fa-instagram hero-social-icon"></i>
                                    <div class="color-hover down"></div>
                                </a>
                                <a href="#" target="_blank" class="social-link dark-bg w-inline-block">
                                    <i class="fa fa-twitter hero-social-icon"></i>
                                    <div class="color-hover down"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.container -->
            </div>
        </footer>
        <!-- //FOOTER END -->
        <!-- </div> -->
        <!-- //WRAPPER END -->

    </div>
    <script>
        new Vue({
            el: '#vueapp',
            data: {
                isActive: false,
                isReady: !false,
                isFade: false,
                currentWork: null,
                artists: [{
                        name: 'artist_1',
                        id: 'artist_1'
                    },
                    {
                        name: 'artist_2',
                        id: 'artist_2'
                    }
                ],
                firstHalf: [],
                secondHalf: [],
                works: [{
                        id: 'artist_1',
                        src: 'https://images.squarespace-cdn.com/content/v1/5c70678577b903aa58ef8754/1592429294593-SAE3SKPL6OBOKAH5TURK/ke17ZwdGBToddI8pDm48kKR3o0ZQl9Wi-qrr1zoKio17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UffTifcrMApUA0DUPK9-SdRHTKX59FPT-MLq0y_8I1Su4YiLRmUQnYOnT8aFnZ-MYA/Secundino+HernandezHR2.jpg?format=500w'
                    },
                    {
                        id: 'artist_2',
                        src: './assets/images/art2.png'
                    },
                ]
            },
            methods: {
                async changeWork(id) {
                    that = this
                    this.isFade = true
                    setTimeout(() => {
                        for (let i = 0; i < this.works.length; i++) {
                            this.works[i].id === id ? this.currentWork = this.works[i].src : null
                        }
                    }, 500)
                    setTimeout(() => {
                        that.isFade = false
                    }, 1000)
                },
                sliceArtistsArray() {
                    const length = Math.ceil(this.artists.length / 2)
                    for (let i = 0; i < length; i++) {
                        this.firstHalf[i] = this.artists[i]
                    }
                    for (let j = 0; j < this.artists.length; j++) {
                        if (typeof this.firstHalf[j] === 'undefined' || this.firstHalf[j].name !== this.artists[j].name) {
                            this.secondHalf[j - length] = this.artists[j]
                        }
                    }
                }
            },
            mounted() {
                this.currentWork = this.works[0].src
                this.sliceArtistsArray()
            }
        })
    </script>
    <script src="assets/js/main.js"></script>

</body>

</html>