<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Window Configurator</title>
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r122/three.min.js"
    integrity="sha512-bzjaf85dHTL4H0BvkAJ/Jbvxqf1rDj+jVpCNe3oxQj/RXSnkx1HnKhqIcmMWghxEAbXsYgddrc38saWpltlkug=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.121.1/examples/js/controls/OrbitControls.js"></script>
  <script src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"
    integrity="sha512-LF8ZB1iTwi4Qvkm4pekHG4a437Y9Af5ZuwbnW4GTbAWQeR2E4KW8WF+xH8b9psevV7wIlDMx1MH9YfPqgKhA/Q=="
    crossorigin="anonymous"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      color: #000;
    }

    p {
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }

    canvas {
      outline: none;
      transform: translateX(-25%);
      pointer-events: none;
    }

    .main-window {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1200px;

      margin: 0 auto;
    }

    .canvas-wrapper {
      width: 60%;
      display: flex;
      align-items: center;

      position: sticky;
    top: 0;
    }

    .forms-wrapper {
      margin-top: 30px;
      width: 40%;
    }

    .custom-select-wrapper {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }

    .custom-select-wrapper.input {
      flex-direction: column;
      align-items: initial;
      
    }

    .custom-select-wrapper .wrapper {
      display: flex;
      flex-direction: row;
      
    }

    .custom-select-wrapper .wrapper .text-alert {
      display: block;
      flex-basis: 100%;
      text-align: center;
      ;
    }

    .custom-select-wrapper .text {
      flex-basis: 30%;
      flex-shrink: 0;
    }

    .custom-select-wrapper select {
      width: 50%;
      padding: 5px;
      border: 2px solid #3842bb;
    }

    .custom-select-wrapper select:focus {
      border-color: none;
      outline: none;
    }

    .custom-select-wrapper .get-answer-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #3842bb;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }
  </style>

</head>

<body>

  <div class="main-window" id="vue">
    <div class="canvas-wrapper">
      <canvas id="background"></canvas>
    </div>
    <div class="forms-wrapper">
      <h1 class="title">
        Toppsving komfort
      </h1>
      <p class="text">
        U-verdi: 1.2
      </p>
      <p class="price">
        Pris 4821 ,-
      </p>
      <div class="select-values">
        <div class="custom-select-wrapper input">
          <div class="wrapper">
            <p class="text">Width</p>
            <input class="custom-select" v-model="changeWidth">
            <a href="#" class="get-answer-btn">?</a>
          </div>
          <p class="text-alert" v-if="changeWidth < size_values.width.min">Min {{size_values.width.min}} cm
          </p>
          <p class="text-alert" v-if="changeWidth > size_values.width.max">Max {{size_values.width.max}} cm
          </p>
        </div>
        <div class="custom-select-wrapper input">
          <div class="wrapper">
            <p class="text">Height</p>
            <input class="custom-select" v-model="changeHeight">
            <a href="#" class="get-answer-btn">?</a>
          </div>

          <p class="text-alert" v-if="changeHeight < size_values.height.min">Min {{size_values.height.min}} cm
          </p>
          <p class="text-alert" v-if="changeHeight > size_values.height.max">Max {{size_values.height.max}} cm
          </p>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Inside frame color</p>
          <select class="custom-select" v-model="changeInsideFrameColor">
            <option v-for="color in colors" v-bind:value="color">{{color.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Outside frame color</p>
          <select class="custom-select" v-model="changeOutsideFrameColor">
            <option v-for="color in colors" v-bind:value="color">{{color.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Both frame color</p>
          <select class="custom-select" v-model="changeBothFrameColor">
            <option v-for="color in colors" v-bind:value="color">{{color.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Handle side</p>
          <select class="custom-select" v-model="changeHandleSide">
            <option v-for="side in handle_side" v-bind:value="side">{{side.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Handle color</p>
          <select class="custom-select" v-model="changeHandleColor">
            <option v-for="color in handle_colors" v-bind:value="color">{{color.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Notspor</p>
          <select class="custom-select" v-model="changeNotspor">
            <option v-for="item in notspor" v-bind:value="item">{{item.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
        <div class="custom-select-wrapper">
          <p class="text">Childsafe</p>
          <select class="custom-select" v-model="changeChildsafe">
            <option v-for="item in childsafe" v-bind:value="item">{{item.text}}</option>
          </select>
          <a href="#" class="get-answer-btn">?</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    const vue = new Vue({
      el: '#vue',
      data: {

        colors: [{
            text: 'white',
            hex: '0xa6a6a6',
            price: 0,
          },
          {
            text: 'gray',
            hex: '0x666666'
          },
          {
            text: 'brown',
            hex: '0x33230b'
          },
          {
            text: 'black',
            hex: '0x1c1c1a'
          },
        ],
        handle_colors: [{
            text: 'white',
            hex: '0xffffff',
            price: 0,
          },
          {
            text: 'gray',
            hex: '0xc9c9c9',
            price: 0,
          },
          {
            text: 'silver',
            hex: '0xc9c9c9',
            price: 0,
          },
          {
            text: 'black',
            hex: '0x3d3d3d',
            price: 5,
          },
        ],
        size_values: {
          width: {
            min: 39.5,
            max: 170,
          },
          height: {
            min: 41.5,
            max: 170,
          },
        },
        notspor: [{
            text: '0mm',
            price: 0
          },
          {
            text: '10mm',
            price: 90
          },
          {
            text: '13mm',
            price: 90
          },
        ],
        childsafe: [
        {
            text: 'No',
            price: 0
          },
          {
            text: 'Yes',
            price: 60
          },
        ],
        handle_side: [
        {
            text: 'Left',
            price: 0
          },
          {
            text: 'Right',
            price: 0
          },
        ],
        window_values: {
          width: 60,
          height: 45,
          active_handle_colors: null,
          notspor: null,
          childsafe: null,
          handle_side: null,
          active_colors: {
            inside: '',
            outside: '',
            both: ''
          },
        },
        three: {
          //  width: ,

        }
      },
      methods: {
        init() {

          this.three.renderer = new THREE.WebGLRenderer({
            antialias: true,
            alpha: true,
            canvas: document.getElementById("background"),
          });
          this.three.renderer.setSize(window.innerWidth, window.innerHeight)
          this.three.renderer.setPixelRatio(window.devicePixelRatio);
          this.three.renderer.shadowMap.enabled = true;

          this.three.scene = new THREE.Scene();

          this.three.camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight,
            1, 10000);
          this.three.camera.position.set(-7, 4, 10);
          this.three.scene.add(this.three.camera);



          this.three.ambientLight = new THREE.AmbientLight(0xffffff);
          this.three.scene.add(this.three.ambientLight);

          this.three.directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
          this.three.directionalLight.position.x = -3;
          this.three.directionalLight.position.y = 4;
          this.three.directionalLight.position.z = 5;
          this.three.scene.add(this.three.directionalLight);

          this.three.controls = new THREE.OrbitControls(this.three.camera, this.three.renderer.domElement);
          this.three.controls.minAzimuthAngle = -0.8
          this.three.controls.maxAzimuthAngle = 2
          this.three.controls.minPolarAngle = 1.55
          this.three.controls.enabeZoom = false


          this.createModel()
          this.animate()
        },
        createModel() {
          that = this

          this.three.inside = new THREE.Shape();
          this.three.outside = new THREE.Shape();
          this.three.hole = new THREE.Path();

          this.three.material_outside = new THREE.MeshPhongMaterial({
            color: Number(this.window_values.active_colors.outside.hex),
            specular: 0xffffff,
            shininess: 150,
          });
          this.three.material_inside = new THREE.MeshPhongMaterial({
            color: Number(this.window_values.active_colors.inside.hex),
            specular: 0xffffff,
            shininess: 150,
          });
          this.three.material_glass = new THREE.MeshPhongMaterial({
            color: 0xaeb9c2,
            shininess: 150,
          });
          this.three.extrudeSettings = {
            depth: 1.5,
            bevelEnabled: true,
            steps: 1,
            bevelSegments: 2,
            bevelSize: 1,
            bevelThickness: 1.5
          };

          var loader = new THREE.GLTFLoader()

          loader.load('img/hand_model.glb', function (gltf) {
            that.three.handle = null
            gltf.scene.traverse(function (child) {
              if (child.material) {
                that.three.handle = child.material
                child.material.metallic = 1
              }
            });

            const model = gltf.scene

            model.scale.x = 0.013
            model.scale.y = 0.013
            model.scale.z = 0.013

            model.position.y = 0
            model.position.z = 0.3

            that.three.scene.add(model);
            that.three.handle_model = model

            model.rotation.x = THREE.Math.degToRad(90)
            model.rotation.y = THREE.Math.degToRad(270)


            that.changeModelSize()
          })
          const size = 10;
          const divisions = 10;

          const gridHelper = new THREE.GridHelper(size, divisions);
          // this.three.scene.add(gridHlper);
        },
        f_rect(ctx, x, y, width, height, radius) {
          ctx.moveTo(x, y);
          ctx.lineTo(x + width, y);
          ctx.lineTo(x + width, y + height);
          ctx.lineTo(x, y + height);
        },
        f_rect_reverse(ctx, x, y, width, height, radius) {
          ctx.moveTo(x, y + radius);
          ctx.lineTo(x, y + radius);
          ctx.quadraticCurveTo(x, y, x + radius, y);
          ctx.lineTo(x + width - radius, y);
          ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
          ctx.lineTo(x + width, y + height - radius);
          ctx.quadraticCurveTo(x + width, y + height, x + width - radius, y + height);
          ctx.lineTo(x + radius, y + height);
          ctx.quadraticCurveTo(x, y + height, x, y + height - radius);
        },
        getMesh(name, size) {
          if (name === 'frame_inside') {
            this.three.inside = new THREE.Shape();
            this.three.hole = new THREE.Path();
            this.f_rect(this.three.inside, 0, 0, size.width, size.height, 1);
            this.f_rect_reverse(this.three.hole, 5, 5, size.width - 10, size.height - 10, 1);
            this.three.inside.holes.push(this.three.hole);
            let geometry_inside = new THREE.ExtrudeBufferGeometry(this.three.inside, this.three
              .extrudeSettings);
            let mesh = new THREE.Mesh(geometry_inside, this.three.material_inside);
            mesh.name = name
            return mesh
          } else if (name === 'frame_outside') {
            this.three.outside = new THREE.Shape();
            this.three.hole = new THREE.Path();
            this.f_rect(this.three.outside, -4.25, -2.5, size.width + 6, size.height + 5, 1);
            this.f_rect_reverse(this.three.hole, -0, -2.5, size.width - 5, size.height - 5, 1);

            let geometry_outside = new THREE.ExtrudeBufferGeometry(this.three.outside, this.three
              .extrudeSettings);
            let mesh = new THREE.Mesh(geometry_outside, this.three.material_outside);
            mesh.name = name
            return mesh
          } else {
            this.three.outside = new THREE.Shape();
            this.f_rect(this.three.outside, 2, 4, size.width - 10, size.height - 10, 1);
            // this.three.outside.shapes.push( this.three.handle_model);
            let geometry_glass = new THREE.ExtrudeBufferGeometry(this.three.outside, this.three
              .extrudeSettings);

            let mesh = new THREE.Mesh(geometry_glass, this.three.material_glass);
            mesh.name = name
            return mesh
          }
        },
        handleSide() {
          s = 1.05
          side = this.window_values.handle_side.text
          model = this.three.handle_model

          if (side === 'Left') {

            model.position.x = 0
            model.position.y = 0
            if(this.changeHeight <= 50){
              model.position.y = 0.25
            }

          } else if (side === 'Right') {

            c = ((this.changeWidth -  39.5) * 0.05) + s * 3

            model.position.x = c
            model.position.y =  changeHeight / 20
          }
        },
        changeModelSize() {

          const models = [{
              name: 'frame_inside',
              z: -0
            },
            {
              name: 'frame_outside',
              z: -0.2
            },
            {
              name: 'glass',
              z: -0.15
            },
          ]
          const that = this

          const range = {
            min: 80,
            max: 170,
          }

          const max_zoom = (this.changeHeight / range.max) * 2 + 9

          const min_zoom = this.changeHeight / 20 + 3.5

          let width = this.changeWidth / 2
          let height = this.changeHeight / 2

          for (let i = 0; i < models.length; i++) {
            let k = models[i].name

            this.three.scene.remove(this.three.scene.getObjectByName(k));

            this.three[k] = null

            this.three[k] = this.getMesh(k, {
              width: Number(width + 18),
              height: Number(height + 18),
            })
            this.three[k].scale.set(0.10, 0.10, 0.10)

            if (k === models[0].name) {
              this.three[k].position.x = -0.2
            }

            this.three[k].position.z = models[i].z

            this.three.scene.add(this.three[k])


          }

          if (this.changeHeight >= range.min && this.changeHeight <= range.max) {
            k =  this.changeHeight / -30

            this.three.handle_model.scale.set(0.013, 0.013, 0.013)

            this.three.camera.position.z = 8

            for (let model of models) {
              this.three[model.name].position.y = k
            }
          } 
          // else if (this.changeHeight > range.max) {
          //   k = this.changeHeight / -38

          //   this.three.handle_model.scale.set(0.015, 0.015, 0.015)

          //   this.three.camera.position.z = max_zoom

          //   for (let model of models) {
          //     this.three[model.name].position.y = k
          //   }
          // } 
          else if (this.changeHeight < range.min) {
            k = this.changeHeight / -24

            this.three.handle_model.scale.set(0.013, 0.013, 0.013)

            this.three.camera.position.z = 7

            for (let model of models) {
              this.three[model.name].position.y = k
            }
          }

          // handleFunc
          that.handleSide()

        },
        resizeModel() {
          this.three.renderer.setSize(window.innerWidth, window.innerHeight);
          this.three.camera.aspect = window.innerWidth / window.innerHeight;
          this.three.camera.updateProjectionMatrix();
        },
        animate() {
          requestAnimationFrame(this.animate);
          this.render();
          this.three.controls.update()
        },
        render() {
          this.three.renderer.render(this.three.scene, this.three.camera);
        },
        isEqColors() {
          if (this.window_values.active_colors.inside.text === this.window_values.active_colors.outside.text) {
            this.window_values.active_colors.both = this.window_values.active_colors.inside
          }
        }

      },
      mounted() {
        that = this
        this.window_values.active_colors.inside = this.colors[0]
        this.window_values.active_colors.outside = this.colors[0]
        this.window_values.active_colors.both = this.colors[0]

        this.window_values.active_handle_colors = this.handle_colors[0]

        this.window_values.notspor = this.notspor[0]

        this.window_values.childsafe = this.childsafe[0]

        this.window_values.handle_side = this.handle_side[0]



        this.init();

      },
      computed: {
        changeWidth: {
          get: function () {
            return this.window_values.width
          },
          set: function (value) {
            this.window_values.width = value
            if (Number(value) >= this.size_values.width.min && Number(value) <= this.size_values
              .width.max) {
              this.changeModelSize()
            }
          }
        },
        changeHeight: {
          get: function () {
            return this.window_values.height
          },
          set: function (value) {
            this.window_values.height = value

            if (Number(value) >= this.size_values.height.min && Number(value) <= this
              .size_values.height.max) {
              this.changeModelSize()
            }
          }
        },
        changeHandleSide: {
          get: function () {
            return this.window_values.handle_side
          },
          set: function (side) {
            this.window_values.handle_side = side
            this.handleSide()
          }
        },
        changeInsideFrameColor: {
          get: function () {
            return this.window_values.active_colors.inside
          },
          set: function (text) {
            this.window_values.active_colors.inside = text
            this.window_values.active_colors.both = text
            this.isEqColors()
            this.three.frame_inside.material.color.set(Number(text.hex))
            this.three.frame_outside.material.color.set(Number(text.hex))
          }
        },
        changeOutsideFrameColor: {
          get: function () {
            return this.window_values.active_colors.outside
          },
          set: function (text) {
            this.window_values.active_colors.outside = text
            this.isEqColors()
          }
        },
        changeBothFrameColor: {
          get: function () {
            return this.window_values.active_colors.both
          },
          set: function (text) {
            this.window_values.active_colors.inside = text
            this.window_values.active_colors.outside = text
            this.window_values.active_colors.both = text
            this.three.frame_inside.material.color.set(Number(text.hex))
            this.three.frame_outside.material.color.set(Number(text.hex))
          }
        },
        changeHandleColor: {
          get: function () {
            return this.window_values.active_handle_colors
          },
          set: function (text) {
            this.window_values.active_handle_colors = text
            this.three.handle.color.set(Number(text.hex))
          }
        },
        changeNotspor: {
          get: function () {
            return this.window_values.notspor
          },
          set: function (text) {
            this.window_values.notspor = text
          }
        },
        changeChildsafe: {
          get: function () {
            return this.window_values.childsafe
          },
          set: function (text) {
            this.window_values.childsafe = text
          }
        },
      }
    })
  </script>

</body>

</html>